.sameLevel {
  position: relative;
  left: 10%;
  width: 80%;
  height: 130px;
  background-color: #cbe9ff;
  border-radius: 25px;
  margin-top: 30px;
}
.sameLevel p {
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  top: 40%;
  left: 4%;
}
