.translationText {
  width: 76%;
  height: 110px;
  background-color: #e2e2e2;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 10%;
  margin-bottom: 30px;

  border: none;
  outline: none;
  resize: none;
  padding: 2%;
  font-size: 1.1em;
  font-family: "Noto Sans KR", sans-serif;

  display:block;
}
.translationText::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}
