.bar-graph {
  margin-top: 20px;
}

.bar-chart {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

.custom-tooltip {
  background-color: none;
  /* border: 1.5px solid #ccc; */

  width: 50px;
  height: 30px;

  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-tooltip .label {
  color: #333;
  font-size: 17px;
}
