.sticks {
  margin: auto;
  display: flex;

  position: relative;

  padding-top: 20px;
  padding-left: 20px;
}

.stick-name {
  width: 120px;
}

.stick-shape {
  width: 230px;
  height: 20px;

  background: #bfbfbf;
  border-radius: 30px;
}

.stick-num {
}
