@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.best{
    width: 80%;
    height:163px;
    background-color:#E2E2E2 ;
    border-radius: 25px;
    margin-top:20px;
    margin-left: 10%;
  }
.best p{
    text-align: left;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1em;
  }
.deelptext{
  width: 92%;
  height:70%;

  overflow: auto;
  padding:1.5%;
  margin-left: 20px;
  margin-top: -10px;
}

.deelptext div{
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1em;
}