/* .next{
    border: 2px solid #2E81E2;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    position: relative;
    left:46%;
    display: block;
    background-color: #ffffff;
    margin-top: 30px;
    float: left;
  }
.next a{
    display: block;
    color:#2E81E2;
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 4px;
    text-decoration-line: none;
    text-align: center ;
  } */